html{
    scroll-behavior: smooth;
}
  
body{
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

:focus{
  outline: 2px solid black;
}

h1{
  font-size: 50px;
  text-align: center;
}

h2{
  font-size: 32px;
}

span{
  margin-right: 10px;
}

nav{
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: rgb(249, 183, 60) 2px solid;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav a{
  color: purple;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover, nav a:focus, nav a.active{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
  position: absolute;
  top: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  row-gap: 30px;
  padding: 20px;
}

.container > :first-child {
  grid-column: 1/ span 2;
  background-color: aqua;
  margin-bottom: -30px;
  margin-top: -20px;
}

.img1, .img2, .img3, .img4, .img5{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  grid-column: 1 / span 1;
  margin-top: 60px;
  margin-left: 30px;
}

.info1, .info2, .info3, .info4, .info5{
  grid-column: 2 / span 1;
  padding: 30px;
  background-color: aquamarine;
}

.galary{
  display: flex;
  justify-content: space-between;
}

.img{
  background-color: aquamarine;
}

img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 70% 30%;
}

.img1, .info1{
  grid-row: 2;
}

.img2, .info2{
  grid-row: 3;
}

.img3, .info3{
  grid-row: 4;
}

.img4, .info4{
  grid-row: 5;
}

.img5, .info5{
  grid-row: 6;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
    }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}